#intro {
	padding-top : 200px;
}

h1 {
	font-size :75px;
	color : orange;
	text-shadow : 1px 1px 3px #7A745E;
}

h3 {
	font-siez : 30px;
}

.container {
	height : 100vh;
}

#formulaire {
	width : 600px;
	text-align : center;
}

.testimonials {
	background: white;
	padding: 40px;
	box-shadow: 1px 1px 3px rgb(213, 210, 210);
	margin: 10px;
}
